{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css" />
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'js/script.js' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css" />
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- Inclure Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>

<body id="body-pd" class="body1">

  <div class="l-navbar" id="navbar">
    <nav class="nav">
      <div class="nav__brand">
        <a href="#" class="nav__logo">
          <img src="{% static 'img/logo.png' %}" alt="Votre Logo" class="logo" id="nav-toggle">
          <span class="nav__text">Dash d'Or</span>
        </a>
      </div>
      <div class="nav__list">
        <a href="/index" class="nav__link active">
          <ion-icon name="home-outline" class="nav__icon"></ion-icon>
          <span class="nav__name">Dashboard</span>
        </a>
      </div>

      <a  href="{% url 'logout' %}" class="nav__link">
        <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
        <span class="nav__name">Log Out</span>
      </a>
    </nav>
  </div>
  <script src="{% static 'js/script.js' %}"></script>

  <section class="home-section">
  <div class="home-content">
      <button class="custom-button show-mme active" id="mmeBtn">MME OMEA</button>
      <button class="custom-button show-int" id="intBtn">MME INT</button>
      <button class="custom-button show-global" id="globalBtn">MME Global</button>
      <button class="custom-button show-epg" id="epgBtn">EPG</button>
      <button class="custom-button ">APN</button>


      <span class="vertical-line"></span>
      

      <div class="containerheader">
        <select class="custom-input custom-select">
          {% if section == "int" %}
            <option value="Int" class="custom-button">All</option>
            <option value="Allaverage" class="custom-button">All Average</option>
          {% elif section == "global" %}
            <option value="TN1global" class="custom-button">TN1</option>
            <option value="TN2global" class="custom-button">TN2</option>
            <option value="Sousseglobal" class="custom-button">Sousse</option>
            <option value="global" class="custom-button">Global</option>
            {% elif section == "epg" %}
            <option value="TN1epg" class="custom-button">TN1</option>
            <option value="TN2vepg" class="custom-button">TN2 VEPG</option>
            <option value="Sousseepg" class="custom-button">Sousse</option>
            {% else %}
            <option value="TN1" class="custom-button">TN1</option>
            <option value="TN2" class="custom-button">TN2</option>
            <option value="Sousse" class="custom-button">Sousse</option>
            <option value="All" class="custom-button">All</option>

          {% endif %}
        </select>

        
        <input type="text" id="dateRangePicker" class="custom-input" placeholder="Select Date" />
        <button class="custom-button" id="goBtn">Go</button>
        
      </div>
    </div>
  </section>

  
  <div id="content">
    {% include 'MMEomea.html' %}
  </div>



  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{% static 'js/script.js' %}"></script>

  <script>

    
    $(document).ready(function() {

      $('#mmeContainer').show();
      $('#tn1_table').show();

      $('#intContainer').hide();
      $('#globalContainer').hide();
      $('#epgContainer').hide();

      $('#mmeBtn').click(function(e) {
        e.preventDefault();
        $('#content').load('{% url "mme" %}');
        $('#mmeContainer').show();
        $('#intContainer, #globalContainer, #epgContainer').hide();
        $('.charts-containerint').hide();
        $('.charts-section').hide();
        $('.custom-select').html(`
          <option value="TN1" class="custom-button">TN1</option>
          <option value="TN2" class="custom-button">TN2</option>
          <option value="Sousse" class="custom-button">Sousse</option>
          <option value="All" class="custom-button">All</option>
          
        `);
        
      });

      
    
      $('#intBtn').click(function(e) {
        e.preventDefault();
        $('#content').load('{% url "int" %}');
        $('#intContainer').show();
        $('#mmeContainer, #globalContainer, #epgContainer').hide();
        $('.charts-containeromea').hide();
        $('.charts-section').hide();
        $('.custom-select').html(`<option value="Int" class="custom-button">All</option>
                                  <option value="Allaverage" class="custom-button">All Average</option>
                                  `);
      });
    
      $('#globalBtn').click(function(e) {
        e.preventDefault();
        $('#content').load('{% url "global" %}');
        $('#globalContainer').show();
        $('#intContainer, #epgContainer, #mmeContainer').hide();
        $('.custom-select').html(`
          <option value="TN1global" class="custom-button">TN1</option>
          <option value="TN2global" class="custom-button">TN2</option>
          <option value="Sousseglobal" class="custom-button">Sousse</option>
          <option value="global" class="custom-button">Global</option>
          
        `);
      });

      $('#epgBtn').click(function(e) {
        e.preventDefault();
        $('#content').load('{% url "epg" %}');

        $('#epgContainer').show();
        $('#mmeContainer, #intContainer, #globalContainer').hide();
        $('.custom-select').html(`
          <option value="TN1epg" class="custom-button">TN1</option>
          <option value="TN2vepg" class="custom-button">TN2 VEPG</option>
          <option value="Sousseepg" class="custom-button">Sousse</option>
        `);
      });
      
    });    
    const showMenu = (toggleId, navbarId, bodyId)=>{
      const toggle = document.getElementById(toggleId),
      navbar = document.getElementById(navbarId),
      bodypadding = document.getElementById(bodyId)
    
      if(toggle && navbar){
        toggle.addEventListener('click', ()=>{
          navbar.classList.toggle('expander')
    
          bodypadding.classList.toggle('body-pd')
        })
      }
    }
    showMenu('nav-toggle','navbar','body-pd')
    

    $(document).ready(function() {
      $('.custom-button').click(function() {
          $('.custom-button').removeClass('active');
          $(this).addClass('active');
      });
  });
  
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
